In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

### Removing duplicates

In [2]:
df_obj = DataFrame({'column 1': [1,1,2,2,3,3],
                    'column 2': ['a','a','b','b','c','c'],
                    'column 3': ['A','A','B','B','C','C']})
df_obj

   column 1 column 2 column 3
0         1        a        A
1         1        a        A
2         2        b        B
3         2        b        B
4         3        c        C
5         3        c        C

seaches each rown and checks if it's a dup of the row prior

In [3]:
df_obj.duplicated()

0    False
1     True
2    False
3     True
4    False
5     True
dtype: bool

how to drop

In [4]:
df_obj.drop_duplicates()

   column 1 column 2 column 3
0         1        a        A
2         2        b        B
4         3        c        C