## Data Filtering and Selection

In [1]:
!pip install numpy
!pip install pandas

[notice] A new release of pip is available: 24.3.1 -> 26.0
[notice] To update, run: pip install --upgrade pip

In [2]:
import numpy as np
import pandas as pd

from pandas import DataFrame

10,3 : 10 for columns, 3 for rows
0,90, 3 : 0 as first value, 90 as last value and every 3rd number

In [13]:
numbers_df = DataFrame(np.arange(0,90,3).reshape(10,3), index = ['row 1','row 2','row 3','row 4','row 5','row 6','row 7','row 8','row 9','row 10'],columns=['column 1','column 2','column 3'])
numbers_df

        column 1  column 2  column 3
row 1          0         3         6
row 2          9        12        15
row 3         18        21        24
row 4         27        30        33
row 5         36        39        42
row 6         45        48        51
row 7         54        57        60
row 8         63        66        69
row 9         72        75        78
row 10        81        84        87

#### Comparison operators (> < = <= => == !=) and Masking.