## Working with Missing Data in Pandas

In [1]:
import numpy as np
import pandas as pd

from pandas import DataFrame

### Filling missing values using fillna(), replace() and interpolate()

In [ ]:
data = {'names': ['Steve', 'mary', 'joseph', 'Gabriel'],
        'age': [10, 20, 30, 40],
        'gender': ['male', 'female', 'male', 'male'],
        'rank': [2,5,1,3]
    }

ranking_df = DataFrame(data)
ranking_df.iloc[2:5, 1] = np.nan
ranking_df.iloc[2:1, 1] = np.nan